:root {
    --mint-green: #82f986ff;
    --blush: #e75a7cff;
    --raisin-black: #262730ff;
    --nickel: #6d6c61ff;
    --champagne-pink: #ffe5d4ff;
    --swiper-pagination-color: var(--blush);
    --swiper-pagination-bullet-inactive-color: var(--raisin-black);
    --swiper-pagination-bullet-inactive-opacity: 1;
}

@font-face {
    font-family: "wagashi";
    src: url("fonts/FilsonPro-Regular.woff2") format('woff2');
}

@font-face {
    font-family: "wagashi";
    src: url("fonts/FilsonPro-Bold.woff2") format('woff2');
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "wagashi", sans-serif;
    color: var(--raisin-black);
}
main {
    background: var(--champagne-pink);
}
.back-dark {
    background: var(--raisin-black);
}
html,
body,
#app,
main,
.container {
    min-height: 100vh;
}

img {
    max-width: 100%;
}

.logo-text svg,
.logo-line svg {
    fill: var(--blush);
}
.dark svg {
    fill: var(--raisin-black);
}
.light svg {
    fill: var(--champagne-pink);
}
.green svg {
    fill: var(--mint-green);
}

.logo .logo-text svg {
    height: 3rem;

}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

h2 span {
    color: var(--blush);
}
h1,
.blush {
    color: var(--blush);
}
.dark {
    color: var(--raisin-black);
}

.light {
    color: var(--champagne-pink);
}

.green {
    color: var(--mint-green);
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}


.container {
    padding: 1rem;
}

.button {
    display: inline-block;
    padding: 0.7rem 1rem;
    border-radius: 0.25rem;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-align: center;
    width: 100%;
}

.button.blush {
    color: var(--champagne-pink);
    background: var(--blush);
}

.button:hover {
    color: var(--raisin-black);
}

.button.green {
    color: var(--raisin-black);
    background: var(--mint-green);
}

.button.dark {
    background: var(--raisin-black);
    color: var(--mint-green);
}

.button.green:hover {
    color: var(--mint-green);
    background: var(--raisin-black);
}
.button:disabled {
    background: var(--nickel);
}

.form-group label {
    display: block;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}
.form-group {
    margin-bottom: 1rem;
}

.form-group input,
.form-group select {
    border: 2px solid var(--blush);
    padding: .7rem 0.5rem;
    border-radius: .25rem;
    width: 100%;
    font-family: "wagashi", sans-serif;
    font-size: 1.3rem;
    appearance: none;
    color: var(--nickel);
    position: relative;
    background: var(--champagne-pink);

}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}


.card {
    border-radius: 0.25rem;
    padding: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--champagne-pink);
    min-height: 7rem;
    position: relative;
}

.question-card {
    background: var(--blush);
}
.answer-card {
    background: var(--raisin-black);
    cursor: pointer;
}
.card.selected {
    background: var(--mint-green);
    color: var(--raisin-black);
}
.question-card.empty span {
    position: relative;
    width: 5rem;
    height: 1.5rem;
    display: inline-block;
    line-height: 1.2;
}
.question-card.empty span:after {
    background: var(--raisin-black);
    display: inline-block;
    width: 5rem;
    height:2rem;
    position: absolute;
    content: "";
    display: block;
}
.card .number {
    position: absolute;
    font-size: 1.5rem;
    right: 0.5rem;
    bottom: 0.5rem;
}

.swiper-button-prev {
    display: none !important;
}

#app .swiper-pagination {
    bottom: -3px;
}
#app .swiper-button-next:after {
    content: "";
}

#app .swiper-button-next{
    background-image: url(../img/next.svg);
    background-repeat: no-repeat;
    transition: all .3s ease-in;
    animation-name: bounce;
    animation-timing-function: ease;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#app .swiper-button-next.hidden {
    opacity: 0;
}


@keyframes bounce {
    0%   { transform: scale(1,1)    translateY(0); }
    75%  { transform: scale(1.1,.9) translateY(0); }
    80%  { transform: scale(.9,1.1) translateY(-30px); }
    85%  { transform: scale(1,1)    translateY(0); }
    90%  { transform: scale(1,1)    translateY(-7px); }
    95%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}

.slide-enter-active,.slide-leave-active {
    z-index: 99;
    transition: transform 0.23s ease-out;
}
.slide-leave-from,
.slide-enter-to {
    transform: translateY(0%);
}
.slide-leave-to,
.slide-enter-from {  transform: translateY(100%);}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}


.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
